@import "./variable_forward.scss";


// Set height
.navbar.fixed-top,
.bm-nav-link,
.primary-navigation .navigation {
  height: $navbar-height;
}

// Navbar
.navbar.fixed-top {
  height: $navbar-height;
  padding: 0;
  background-color: $background;
  border-bottom: 0;
}

// Navbar layout
.navbar{
  &>div{
    margin: 0;
  }
  &>.primary-navigation{
    flex: 1;
  }
}

// fix transparent navigation bar
.moremenu {
  opacity: 1 !important;
}


// left link buttons
.navbar-nav{
  width: 100%;
}

li[data-key=home]{
  max-width: 350px;
  flex: 1;
}

.bm-nav-link {
  padding: 10px 30px 10px 10px;
  height: $navbar-height;

  &.bm-home {
    width: 100%;
    padding: 10px 20px 10px 15px;
    background-image: $button-decoration;
    background-repeat: no-repeat;
    background-position: right 2px center;
    
    &:hover {
      background-image: $button-decoration;
      background-repeat: no-repeat;
      background-position: right -5px center;
    }
  }
}

// notification
.popover-region-notifications{
  padding: 0 !important;
  height: $navbar-height;
  width: $navbar-height;
  
  & .popover-region-toggle{
    background-image: none !important;
    width: $navbar-height !important;
    height: $navbar-height !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.popover-region-toggle{
  &::before{
    border: 0 !important;
    position: absolute;
    top: 0;
    height: $navbar-height;
    width: 200vw;
    background: $background-filter;
    z-index: 1;
    cursor: default;
    right: -500px;
  }

  &::after{
    border: 0 !important;
    left: 0px !important;
    top: 0px !important;
    right: unset !important;
    bottom: unset !important;
    width: $navbar-height;
    height: $navbar-height;
    background-color: $background;
    background-image: $notification;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: $default-float;
  }
}

.popover-region-container {
  top: $navbar-height !important;
  box-shadow: $default-float;
  z-index: 99;
  border: 0 !important;
  background-color: $background !important;
  display: flex;
  flex-direction: column;
  width: 200px !important;
  height: auto !important;
  transition: 0s !important;

  // header
  & .bm-header-container{
    padding: 10px;

    & h3 {
      font-size: $size-header;
      font-weight: $weight-regular;
      color: $foreground;
    }
  }

  // action buttons
  & .bm-notification-actions{
    display: flex;
    width: 100%;
    height: $icon-btn-size;
    
    & a{
      width: $icon-btn-size;
      
      &.see-all-link{
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
    }
  }

  // content container
  & .popover-region-content-container{
    height: auto !important;
    
    & .empty-message{
      font-size: $size-paragraph;
      font-weight: $weight-regular;
      color: $foreground-secondary !important;
      padding: 15px 10px;
    }
  }
}

@mixin bedge {
  border-radius: 0;
  background-color: transparent !important;
  top: 0;
  left: 0;
  width: $icon-btn-size;
  height: $icon-btn-size;
  border: 2px solid $scheme-warning-background;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  position: absolute;
  margin-left: 0 !important;

  span:not(.sr-only){
    text-indent: 0;
    color: $scheme-warning;
    background: $scheme-warning-background;
    width: 14px;
    height: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// message
.bm-message-popover-btn{
  padding: 0 !important;
  height: $navbar-height;
  width: $navbar-height;
  display: flex !important;
  
  & a{
    background-image: none !important;
    display: block !important;
    width: $navbar-height !important;
    height: $navbar-height !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  [data-region="count-container"].count-container:not(.hidden) {
   @include bedge;
  }
}

.bm-messages-panel.drawer{
  height: 50vh;
  min-height: 400px;
  width: 400px;
  top: $navbar-height;
  box-shadow: $default-float;

  [data-region="contact-request-count"].badge:not(.hidden) {
   @include bedge;
  }

  a .fa-chevron-right{
    display: none;
  }

  &>div{
    background-color: $background;
  }

  .bm-messages-panel-actions{
    display: flex;
    max-height: $icon-btn-size;

    .bm-icon-btn {
      width: $icon-btn-size;
      height: $icon-btn-size;
    }


    .bm-messages-see-all-link {
      flex: 1;
      
      a {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        height: 100%;
      }
    }

    // hide extra buttons when appropriate (in other panels)
    &:has(.bm-messages-see-all-link.hidden) .bm-extra-option{
      display: none;
    }
  }

  .bm-messages-panel-search-container{
    padding: 0 !important;
    border: 0 !important;
    height: $icon-btn-size;

    .simplesearchform {
      height: $icon-btn-size;
    }

    .bm-messages-panel-search-input {
      border: 0;
      padding-left: 50px;
      background-image: var(--search-hint-focused);
      background-position: 20px 10px;
      background-repeat: no-repeat;
      
      &:placeholder-shown {
        background-image: var(--search-hint);
      }
    }

    .bm-messages-panel-search-active{
      flex-direction: row-reverse;
    }
    
    .bm-messages-panel-search-cancel{
      margin-right: 0 !important;
      padding: 10px;
    }
  }

  .bm-messages-panel-search-result-container{

    &, &>div, .list-group-item{
      background-color: $background !important;
    }

    [data-region="messages-container"], [data-region="all-contacts-container"]{
      a {
        transition: $default-active;
        align-items: center;
        margin: 0;
        height: 50px;
        padding: 12px 20px !important;
        border: 0 !important;

        .matchtext {
          background-color: $accent-background;
          color: $accent;
        }

        h6 {
          font-size: $size-button-caption;
          font-weight: normal !important;
          margin: 0;
          margin-left: 20px !important;
          color: $foreground; 
        }

        &:hover { background-color: $background-active !important; }

        &.list-group-item:hover { color: inherit !important; }
      }
    }

    [data-region="messages-container"]{
      a {
        &:focus { box-shadow: none; }
        &>.text-truncate{ margin-left: 20px !important; }
      }
      
      strong {
        font-weight: normal !important;
        color: $foreground-secondary;
      }

      [data-region="last-message"] {
        font-weight: normal !important;
        color: $foreground; 
      }

      .d-flex {
        gap: 10px;

        [data-region="last-message-date"] {
          margin-left: 0 !important;
          color: $foreground-secondary;
        }

        [data-region="contact-icon-blocked"]:not(.hidden) {
          width: 76px;
          height: 13px;
          background: var(--contacts-blocked);
          display: inline-block;
          margin-left: 5px;
          
          i { display: none; }
        }
      }
    }

    [data-region="all-contacts-container"]{
      margin-bottom: 0 !important;

      &>div {
        padding-top: 0 !important;
      }
      
      button {
        color: $accent !important;
        &:focus { box-shadow: none; }
      }

      .text-right:has(button){
        text-align: center !important;
        margin-top: 5px;
      }
    }

    h4 {
      font-size: $size-button-caption;
      font-weight: normal;
      padding: 12px 18px !important;
      margin: 0;
    }
  }
}

// user button
#user-menu-toggle{
  padding: 10px 30px 10px 10px;
  height: $navbar-height;
}
.usermenu{
  padding: 0px !important;
}

// user menu
#user-menu-toggle[aria-expanded="true"]{
  &::before{
    content: "";
    border: 0 !important;
    position: absolute;
    top: 0;
    height: $navbar-height;
    width: 200vw;
    background: $background-filter;
    z-index: 1;
    cursor: default;
    right: -500px;
  }

  &::after{
    content: $username;
    color: $accent;
    position:absolute;
    padding: 8px 30px 0px 43px;
    left: 0px;
    height: $navbar-height;
    background-color: $accent-background-active;
    background-image: $user;
    background-repeat: no-repeat;
    background-position: top 10px left 10px;
    box-shadow: $default-float;
    z-index: 10;
  }
}

#user-action-menu{
  margin: 0 !important;
  border: 0;
  box-shadow: $default-float;
  background-color: $background;
  padding: 0px;
  width: 200px;
  
  & a{
    height: $icon-btn-size;
    display: flex;
    padding: 8px 20px 8px 10px;
    gap: 13px;
  }
  
  & a.logout{
    color: $scheme-dangerous;
    
    &:hover{
      color: $scheme-dangerous;
      background-color: $scheme-dangerous-background;
    }
  }
}
