$accent: var(--accent);
$accent-active: var(--accent-active);
$accent-background: var(--accent-background);
$accent-background-active: var(--accent-background-active);
$background: var(--background);
$background-secondary: var(--background-secondary);
$background-active: var(--background-active);
$foreground: var(--foreground);
$foreground-invert: var(--foreground-invert);
$foreground-secondary: var(--foreground-secondary);
$scheme-dangerous: var(--scheme-dangerous);
$scheme-dangerous-background: var(--scheme-dangerous-background);
$background-filter: var(--background-filter);

$default-float: var(--default-float);
$default-active: var(--default-active);

$size-button-caption: var(--size-button-caption);
$size-header: var(--size-header);
$size-title: var(--size-title);
$size-paragraph: var(--size-paragraph);
$weight-regular: 400;
$weight-extra-light: 200;
$weight-medium: 500;

$navbar-height: var(--navbar-height);
$icon-btn-size: var(--icon-btn-size);

$button-decoration: var(--button-decoration);
$notification: var(--notification);
$user: var(--user);
$username: var(--username);
$username-width: var(--username-width);