@import "./variable_forward.scss";

#page.drawers{
  margin-top: $navbar-height !important;
  
  &.show-drawer-right{
    margin-right: $side-pane-width !important;
  }
}

// goto top link
#goto-top-link{
  display: none !important;
}

// Page header (with image)
#page-header{
  height: $page-title-height;
  background-image: $page-title-image;
  background-size: cover;
  background-position: center center;

  & .header-banner{
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(248,248,248,0.03) 0%,
      rgba(248, 248, 248, 0.5) 29%,
      rgba(248, 248, 248, 0.768) 44%,
      rgba(248,248,248,1) 67%) !important;
    padding-left: 45px;
    padding-bottom: 10px;
  }
  
  // title
  & h1{
    color: $accent;
    text-shadow: none;
    font-weight: $weight-extra-light;
    font-size: $size-title;
  }
}

// side pane open/close
.bm-side-pane-toggle{
  height: $navbar-height;
  width: $navbar-height;
}

// side pane drawer
.drawerheader{
  height: auto;
  background-color: transparent;
}

.drawer.drawer-right{
  background-color: transparent;
  top: $navbar-height;
  padding: 10px 0;
  width: $side-pane-width;
  max-width: $side-pane-width;
  height: calc(100vh - #{$navbar-height});
  
  & .drawercontent{
    height: 100%;
  }
}

// side pane block card
.drawer.drawer-right section.card{
  background-color: $background;
  box-shadow: none;

  & .card-title{
    background-color: transparent;
    color: $foreground;
    font-size: $size-header;
    font-weight: $weight-regular;
    padding: 10px;
  }

  & .content{
    margin-top: 0 !important;
    padding: 0 13px;
    
    & * {
      overflow-y: hidden;
    }
  }
}

// To old moodle
#inst38662{
  & br{
    display: none;
  }

  & .footer{
    display: flex;
    justify-content: flex-end;
    margin: 0 -13px;
  }
  
  & a{
    width: 150px;
    padding: 10px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}